.dropdownWrapper {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: -0.5rem; /* Hơi lệch qua phải một chút cho cân với icon chuông */
  width: 24rem; /* w-96 */
  display: flex;
  flex-direction: column;
  transform-origin: top right;
  z-index: 50;
}

.scrollArea {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}