.wrapper {
  padding: 50px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background: #111111;
}

/* CARD */
.card {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  display: flex;              
  gap: 16px;
  align-items: center;
}

/* LEFT IMAGE */
.left img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
}

/* RIGHT INFO */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.right h4 {
  margin: 0;
  font-size: 16px;
}

.right p {
  font-size: 16px;
  color: #0f0f0f;
}

/* BUTTON */
.btn {
  margin-top: 10px;           
  align-self: flex-start;     
  padding: 6px 14px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
