.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.55);
  padding: 60px 100px;
  border-radius: 20px;
  text-align: center;
}

.code {
  font-size: 120px;
  font-weight: 800;
  color: #fff;
  line-height: 1;
  margin-bottom: 16px;
}

.text {
  font-size: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #eee;
}